@model FastStore.Domain.Entidades.Produto

@{
    ViewBag.Title = "_CatalogoResumo";
}

<div class="well">
    <!--Verificando se produto tem imagem, se não tiver, usa a padrão-->
    @if (Model.Imagem != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" src="@Url.Action("ExibirImagem", "Arquivo", new { id = Model.ProdutoId })" width="75" height="75"/>
        </div>
    }else
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" src="~/Imagens/semimagem.jpg" width="75" height="75"/>
        </div>        
    }

    <h3>
        <strong>@Model.Nome </strong>
        <span class="pull-right label label-primary">
            @Model.Preco.ToString("c")
        </span>
    </h3>

    @using (Html.BeginForm("AdicionarItemAoCarrinho", "Carrinho"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.ProdutoId)
            @Html.Hidden("ReturnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Comprar" />
        </div>
    }
    <span class="lead">@Model.Descricao</span>
</div>

